<p>servers works!</p>
<input 
type="text" 
id="severData"
[(ngModel)]="inputData"
/>
<p>{{inputData}} </p>
<button class="btn btn-primary" [disabled]="!isServer" (click)="handleApply()"> server </button>
<p *ngIf="isServer; else noServer" [ngStyle]="{backgroundColor: 'green' }" [ngClass]="{dcolor: serverStatus === 'offline'}">server is created</p>
<ng-template #noServer>
    <p [ngStyle]="{backgroundColor: 'red' }">no server created</p>
</ng-template>
<p *ngFor="let i of items">{{i}}</p>

<button class="btn btn-primary" (click)="handleDisplay()">display details</button>
<p *ngIf="isDisplay">Secret Password = tuna</p>
<p *ngFor="let dateTime of arrayOfDateTime.entries()" [ngClass]="{dateTimebgColor: dateTime[0] >= 4}"> {{dateTime[1]}} </p>
<app-server></app-server>