<div class="container">
   <app-cockpit
   (serverCreated)="onServerCreated($event)"
   (bprintCreated)="onBluePrintCreated($event)"
   >
   </app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button (click)="onChangeElement()" class="btn btn-primary"> change First button </button>
        <button (click)="onDeleteElement()" class="btn btn-danger"> delete First button </button>
      <app-server-element
       *ngFor="let serverElement of serverElements"
        [srvElement] = "serverElement"
        [name]="serverElement.name"
      >

      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>
    
      </app-server-element>
      <app-test-directives></app-test-directives>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
        <hr>
        <app-account
          *ngFor="let acc of accounts; let i = index"
          [account]="acc"
          [id]="i"
          (statusChanged)="onStatusChanged($event)"></app-account>
      </div>
    </div>
    
  </div>
  








































<!-- <input type="text" [(ngModel)]="name">

<p> {{name}}</p>
<hr> -->

<!-- when we are using selector as '[app-servers]' -->
<!-- <div app-servers>

</div> -->

<!-- when we are using selector as '.app-servers' -->
<!-- <div class=".app-servers">

</div> -->


<!-- <div class="alert alert-danger" role="alert">Danger alert</div>

<app-servers></app-servers>

<app-success></app-success>
<show-error></show-error> -->
