
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button
          class="btn btn-primary"
          (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
        <br><br>
        <ul class="list-group">
          <li
            class="list-group-item" 
            *ngFor="let num of numbers; let i= index"
            >
            <span *ngIf="num % 2 !== 0" [ngClass]="{odd: num % 2 !== 0}" [ngStyle]="{backgroundColor: num % 2 !== 0 ? 'blue' : 'red'}">{{num}} </span>
          </li>
        </ul>
        <ng-template [ngIf]="onlyOdd">
          <!-- <p>Only odd</p> -->
      <p appBasicHighlight>this is a bsic attribute directive</p>
      <p appBetterHighlight>this is a bsic attribute directive better heightlinght</p>
      
        </ng-template>
      </div>
    </div>
  </div>